* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
section {
  margin-bottom: 12px;
}
.header-menu {
  width: 100vw;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.header {
  background-color: #f5f5f5;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.child {
  display: flex;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.apple {
  width: 14px;
  height: 44px;
}
.vector {
  width: 14px;
  height: 44px;
}
.bag {
  width: 14px;
  height: 44px;
}
.box {
  display: flex;
  width: 100vw;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#iphone-1 {
  background-image: url(zurag/iphone\ 17\ pro.png);
  background-position: center;
  width: 100vw;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 58px;
}
#iphone-2 {
  background-image: url(zurag/iphone16.png);
  background-position: center;
  width: 100vw;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 58px;
}
.text-1 {
  width: 405px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text-1 h2 {
  color: #ffffff;
  font-size: 36px;
}
.text-1 p {
  color: #f5f5f5;
}
.button-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 405px;
}
.button1 {
  background-color: blue;
  width: 123px;
  border-radius: 999px;
  border: 1px solid wheat;
  padding: 12px 20px;
}
.button1 p1 {
  align-items: center;
  display: flex;
  color: white;
}
.button2 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid blue;
  padding: 12px 20px;
}

.button2 p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.button3 {
  background-color: white;
  width: 123px;
  border-radius: 999px;
  border: 1px solid wheat;
  padding: 12px 20px;
}
.button3 p1 {
  align-items: center;
  display: flex;
  color: black;
}
.button4 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
}

.button4 p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#mac-1 {
  background-image: url(zurag/m.png);
  background-position: center;
  width: 100vw;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 58px;
}
.button-side1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 405px;
}

.button5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button5 button {
  background-color: blue;
  color: white;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
}
.background1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  width: 1920px;
  height: 1764px;
}
.box1 {
  width: 942px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px;
  gap: 4px;
}
.boxcolor {
  width: 942px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
#ipad {
  background-image: url(zurag2/ipad.png);
}
.subtitle {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.button6 .p1 {
  background-color: blue;
  color: white;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
}
.button6 .p2 {
  color: blue;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
  background-color: transparent;
}
.tems {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 58px;
}
#airpod {
  background-image: url(zurag2/airpod.png);
  display: flex;
  justify-content: flex-end;
}
.airpod1 {
  color: white;
  width: 238px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pod {
  color: white;
  width: 370px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button7 .p1 {
  background-color: blue;
  color: white;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
}
.button7 .p2 {
  color: blue;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
  background-color: transparent;
}
#watch {
  background-image: url(zurag2/watch.png);
}
.airpod2 {
  color: black;
}
.pod3 {
  color: black;
  width: 322px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button8 .p1 {
  background-color: blue;
  color: white;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
}
.button8 .p2 {
  color: blue;
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid white;
  padding: 12px 20px;
  background-color: transparent;
}
.button9 .p1 {
  background-color: blue;
  color: white;
  width: 167px;
  height: 40px;
  border-radius: 999px;
  border: 1px solid wheat;
  padding: 12px 20px;
}
#macbookair {
  background-image: url(zurag2/macbook.png);
}
#tradein {
  background-image: url(zurag2/trade.png);
}
#card {
  background-image: url(zurag2/card.png);
}
.scroll {
  height: 668px;
  display: flex;
  overflow: scroll;
  gap: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  scrollbar-width: none;
}
.scrollframe {
  display: flex;
  align-items: flex-end;
}
.scroll-item {
  min-width: 1250px;
  display: flex;
  align-items: center;
  padding: 58px;
  gap: 20px;
}
#item1 {
  background-image: url(zurag3/fly\ me.png);
}
#item2 {
  background-image: url(zurag3/baseball.jpg);
}
#item3 {
  background-image: url(zurag3/bad-monkey.jpg);
}
#item4 {
  background-image: url(zurag3/fly\ me.png);
}
#item5 {
  background-image: url(zurag3/instigators.jpg);
}
.tablist {
  width: 1920px;
  height: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
  scroll-behavior: smooth;
}
.item-dot {
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: red;
  opacity: 0.75;
}
.item-dot:hover {
  opacity: 1;
}

.footer {
  width: 100vw;
  display: inline-flex;
  height: 236px;
  align-items: flex-start;
  gap: 16px;
  overflow: scroll;
  animation-duration: 30s;
  animation-name: none;
  animation: delay 20s;
}

.link {
  min-width: 417px;
  height: 236px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 20px;
  animation-timing-function: ease-in-out;
  animation-duration: 30s;
  animation-name: footer;
}

#link1 {
  background-image: url(zurag4/1.jpg);
}
#link2 {
  background-image: url(zurag4/2.jpg);
}
#link3 {
  background-image: url(zurag4/3.jpg);
}
#link4 {
  background-image: url(zurag4/4.jpg);
}
#link5 {
  background-image: url(zurag4/5.jpg);
}
#link6 {
  background-image: url(zurag4/6.jpg);
}
#link7 {
  background-image: url(zurag4/7.jpg);
}
@media;
